.SignUp{
    background-image: linear-gradient(to right, rgba(255,108,0,0),rgba(230,183,53,0.5));
    height: inherit;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.SignUpForm{
    height: 70%;
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}