.ticketForm{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 60%;
    column-gap: 5%;
    height: 50%;
}
.ticketTextField{
    width: 100%;
    border: 1.5px solid white;
}
.ticketTextField:hover,.ticketTextField:active,.ticketTextField:focus{
    width: 100%;
    border-bottom-width: 2px;
    border-bottom-color: white;
    border-bottom-style: solid;


    border-bottom-width: none;
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: none;
    border-bottom-color: none;
    border-bottom-style: none;
    border-bottom-width: none;
    border-bottom-color: none;
    border-bottom-style: none;
    outline: none;
}
.ticketFormControl{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}
.ticketBtn{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    align-items: flex-end;
    margin-right: 33%;
}
#ticketBtn{
    width:30%
}
#ticketBtn:hover,#ticketBtn::after,#ticketBtn:focus{
    width: 30%;
    background-color: rgb(83,5,252);
    color: white;
    text-transform: none;
}